<%= form_with(model: @category,url: admin_categorys_path) do |form| %>
<!--create category-->
<h1>Create Category</h1>
 <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
  <%= form.submit%>
  <div><br><br>
  


  <!-- submit button -->
<% end %>
  
